<!-- Affiche l'ensemble des recettes dans le popup, par type de repas-->
<!-- Component parent : popupcalendar.html -->
<!-- Chemin complet pour y avoir accès : dontcook.html/popupcalendar.html/ajoutrecette.html -->
<div class="container form-group form-inline">
  <app-carterecette></app-carterecette>
  <app-carterecette></app-carterecette>
  <app-carterecette></app-carterecette>
  <app-carterecette></app-carterecette>
  <app-carterecette></app-carterecette>
  <app-carterecette></app-carterecette>
</div>
