.dontcook {
    align-content: baseline;
    margin-top: 5%;
}
div{
    font-weight: 500;
    margin-bottom: 5%;
    color: #474747;
}
.btn-link {
    text-decoration: none;
    color:  #474747;
    padding: 0;
}
