.dontcook {
    align-content: baseline;
    margin-top: 1.5em;
}
div{
    font-weight: 500;
    color: #474747;
}
.btn-link {
    text-decoration: none;
    color:  #474747;
    font-size: 25px;
    
}
