<div class="row">

  <div class="recetteAll">
    <div class="titreRecette">
      {{recette.titre}}
    </div>
    

            <figure tabindex="1">
            
            <img src="../../assets/crepe.jpg"  alt="jump, matey"  />
            
            
            
            </figure>
            
            
   
  




    <div class="miscRecette">
      <span class="intitule">Type de plat : </span>{{recette.typeMeal}}
    </div>
    <div class="miscRecette">
      <span class="intitule">Nombre de personnes : </span>{{recette.nombrePersonnes}}
      <i class="fa fa-user-o"></i>
    </div>
    <div class="miscRecette">
      <span class="intitule">Temps de préparation : </span>{{recette.tempsPreparation}}min
    </div>
    <div class="miscRecette">
      <span class="intitule">Temps de cuisson : </span>{{recette.tempsCuisson}}min
    </div>
  </div>

  <div class="card">
    <div>
      <span class="titre">Déroulement de la recette:</span>
    </div>
    <div>
      <span class="t"></span>{{recette.instructions}}
    </div>
  </div>

</div>