<div class="row">

  <div class="recetteAll">
    <div class="titreRecette">
      {{recette.titre}}
    </div>

    <a href="../../assets/poire.jpg">
        <img src="../../assets/poire.jpg" width=400% height=50%>
    </a>


    <div class="miscRecette">
      <span class="intitule">Type de plat : </span>{{recette.typeMeal}}
    </div>
    <div class="miscRecette">
      <span class="intitule">Nombre de personnes : </span>{{recette.nombrePersonnes}}
    </div>
    <div class="miscRecette">
      <span class="intitule">Temps de préparation : </span>{{recette.tempsPreparation}}min
    </div>
    <div class="miscRecette">
      <span class="intitule">Temps de cuisson : </span>{{recette.tempsCuisson}}min
    </div>
  </div>

  <div class="card">
    <div>
      <span class="titre">Déroulement de la recette:</span>
    </div>
    <div>
      <span class="t">Entrer les différentes étapes de la recette ici</span>
    </div>
  </div>

</div>