<div class="alert alert-primary" role="alert">
    Titre de la recette <a href="#" class="alert-link">Détail de la recette</a>
   </div>
  
 
   <div class="card" style="width: 18rem;">
       <div class="card-header">
           Titre de la recette
         </div>
         
         <img src="./../../../assets/quiche saumon-poireaux.jpg" class="img-fluid" alt="image à insérer">
       <div class="card-body">
           Ingrédients:
         
           
         </div>
       <div class="card-body">
         <p class="card-text">
           Déroulement de la recette:
         </p>
       </div>
     </div>