


  <nav class="navbar sticky-top navbar-light justify-content-between ">
      <a class="navbar-brand" href="#">
          <img src="./../../../../assets/sticker-origami-joli-oiseau-ambiance-sticker-KC12551.png" width="50" height="40" class="d-inline-block align-top" alt="">
          
          <span class="text-white">Les recettes de Bérengère </span>
        </a>  
     
        

        <div class="menu row">
            <a class="nav-link  text-white" routerLink="/calendar"  role="button"   >
              Calendrier
             </a>
   
           <a class="nav-link  text-white" routerLink="/app-recettes" role="button"  >
             Recettes
           </a>
          
        </div>
      
   

  </nav>
