.navbar {
    background-color: #04a3a3
}
.navbar-brand {
    position: absolute;
    margin-left: 15px;
}


.text-white {
    margin-left: 20px;
    font-weight: 600;

}
.menu {
    
    margin-left: 85%;
}