.navbar {
    background-color: #04a3a3;
}
.navbar-brand {
    position: absolute;
    margin-left: 15px;
}
.bereng {
    margin-left: 20px;
}
.navbar-nav {
    margin-right: 15px;
}
.navbar-toggler {
    color: #ffffff;
}
.text-white {
    margin-left: 20px;
    font-weight: 600;

}
.menu {
    margin-left: 90%;
}