<div class="container">

<div class="card fixed-bottom">
    <form class="form-inline">
    <div class="card-footer"
    type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Mentions légales
        </div>
     <div class="card-footer"
    type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
  
          Contact
        </div>   
      </form>
     
      
    
  </div>
</div>