.btn {
    margin-top: 30px;
    margin-bottom: 2em;
    background-color: #ffffff;
    color: rgb(70, 70, 70);
    border: #7c7c7c solid .1em;
}
.entete {
    text-align: center;
}
.day {
    color: #7c7c7c;
    font-weight: 600;
    border: white 0px;
}
.type {
    text-align: center;
    vertical-align: middle;
    width: 8%;
    font-weight: 600;
    border: none;
}

.starter {
    background-color: #04a3a3;
    font-weight: 650;
    color:#ffffff;
}
.mainmeal {
    background-color: #F0A202;
    font-weight: 650;
    color: #ffffff;
}

.dessert {
    background-color: #aa0536;
    font-weight: 620;
    color:#ffffff;
}

.inside {
    height: 8em;
    width: 7em;
    padding: 6%;
    margin: 6%;
    border-radius: 4%;
}