<div class="container">
        <button type="button" class="btn">24 sept. - 30 sept.</button>

        <table class="table">
                <thead class="entete">
                        <tr>
                                <th scope="col" class="type"></th>
                                <th scope="col" class="day">Lundi</th>
                                <th scope="col" class="day">Mardi</th>
                                <th scope="col" class="day">Mercredi</th>
                                <th scope="col" class="day">Jeudi</th>
                                <th scope="col" class="day">Vendredi</th>
                                <th scope="col" class="day">Samedi</th>
                                <th scope="col" class="day">Dimanche</th>
                        </tr>
                </thead>
                <tbody class="col-lg-11 col-md-11">
                        <!-- Pour le déjeuner -->
                        <tr>
                                <th scope="row" class="type dej">Déjeuner</th>
                                <td *ngFor="let number of [1,2,3,4,5,6,7]" class="Jour">

                                        <div id={{number}}_1 class=" inside starter"><p>Entrée</p>
                                                <span>{{recettesSemaine[number][1].titre}}</span>
                                        </div>
                                        <div id={{number}}_2 class=" inside mainmeal"><p>Plat</p>
                                                <span>{{recettesSemaine[number][2].titre}}</span>
                                        </div>
                                        <div id={{number}}_3 class=" inside dessert"><p>Dessert</p>
                                                <span>{{recettesSemaine[number][3].titre}}</span>
                                        </div>
                                </td>
                        </tr>

                        <!-- Pour le diner -->
                        <tr>
                                <th scope="row" class="type dej">Dîner</th>
                                <td *ngFor="let number of [1,2,3,4,5,6,7]" class="Jour">

                                        <div id={{number}}_4 class=" inside starter"><p>Entrée</p>
                                                <span>{{recettesSemaine[number][4].titre}}</span>
                                        </div>
                                        <div id={{number}}_5 class=" inside mainmeal"><p>Plat</p>
                                                <span>{{recettesSemaine[number][5].titre}}</span>
                                        </div>
                                        <div id={{number}}_6 class=" inside dessert"><p>Dessert<p>
                                                <span>{{recettesSemaine[number][6].titre}}</span>
                                        </div>
                                </td>
                        </tr>

                </tbody>
        </table>
</div>