<table class="table">
  <thead class="entete">
    <tr>
      <th scope="col" class="type"></th>
      <th scope="col" class="day">Lundi</th>
      <th scope="col" class="day">Mardi</th>
      <th scope="col" class="day">Mercredi</th>
      <th scope="col" class="day">Jeudi</th>
      <th scope="col" class="day">Vendredi</th>
      <th scope="col" class="day">Samedi</th>
      <th scope="col" class="day">Dimanche</th>
    </tr>
  </thead>
  <tbody class="col-lg-11 col-md-11">
    <tr>
      
      <th scope="row" class="type dej">Déjeuner</th>
        <td class="lundi">   
            <div class="starter">Entrée
                </div>
            <div class="mainmeal">Plat
                </div>
            <div class="dessert">Dessert
                </div>
        </td>

        <td class="mardi">   
            <div class="starter">Entrée</div>
            <div class="mainmeal">Plat</div>
            <div class="dessert">Dessert</div>
        </td>

        <td class="mercredi">   
            <div class="starter">Entrée</div>
            <div class="mainmeal">Plat</div>
            <div class="dessert">Dessert</div>
        </td>
      
        <td class="jeudi">   
            <div class="starter">Entrée</div>
            <div class="mainmeal">Plat</div>
            <div class="dessert">Dessert</div>
        </td>

        <td class="vendredi">   
            <div class="starter">Entrée</div>
            <div class="mainmeal">Plat</div>
            <div class="dessert">Dessert</div>
        </td>

        <td class="samedi">   
            <div class="starter">Entrée</div>
            <div class="mainmeal">Plat</div>
            <div class="dessert">Dessert</div>
        </td>

        <td class="dimanche">    
            <div class="starter">Entrée</div>
            <div class="mainmeal">Plat</div>
            <div class="dessert">Dessert</div>
        </td>
    </tr>

    
    <tr>
        <th scope="row" class="type diner">Dîner</th>
        <td class="lundi">   
            <div class="starter">Entrée</div>
            <div class="mainmeal">Plat</div>
            <div class="dessert">Dessert</div>
        </td>

        <td class="mardi">   
            <div class="starter">Entrée</div>
            <div class="mainmeal">Plat</div>
            <div class="dessert">Dessert</div>
        </td>

        <td class="mercredi">   
            <div class="starter">Entrée</div>
            <div class="mainmeal">Plat</div>
            <div class="dessert">Dessert</div>
        </td>
      
        <td class="jeudi">   
            <div class="starter">Entrée</div>
            <div class="mainmeal">Plat</div>
            <div class="dessert">Dessert</div>
        </td>

        <td class="vendredi">   
            <div class="starter">Entrée</div>
            <div class="mainmeal">Plat</div>
            <div class="dessert">Dessert</div>
        </td>

        <td class="samedi">   
            <div class="starter">Entrée</div>
            <div class="mainmeal">Plat</div>
            <div class="dessert">Dessert</div>
        </td>

        <td class="dimanche">    
            <div class="starter">Entrée</div>
            <div class="mainmeal">Plat</div>
            <div class="dessert">Dessert</div>
        </td>
      </tr>
      
  </tbody>
</table>