.entete {
    text-align: center;
}
.day {
    color: #7c7c7c;
    font-weight: 600;
}
.type {
    text-align: center;
    vertical-align: middle;
    width: 8%;
    font-weight: 600;
    border: none;
}

.starter {
    background-color: rgb(253, 200, 179);
}

.mainmeal {
    background-color: #c7f5ef;
}

.dessert {
    background-color: #e7e7e7;
}

div {
    height: 7em;
    width: 7em;
    padding: 6%;
    margin: 6%;
    border-radius: 4%;
}