<div class="container">
        <button type="button" class="btn semaine">24 sept. - 30 sept.</button>

        <table class="table">
                <thead class="entete">
                        <tr>
                                <th scope="col" class="type"></th>
                                <th scope="col" class="day">Lundi</th>
                                <th scope="col" class="day">Mardi</th>
                                <th scope="col" class="day">Mercredi</th>
                                <th scope="col" class="day">Jeudi</th>
                                <th scope="col" class="day">Vendredi</th>
                                <th scope="col" class="day">Samedi</th>
                                <th scope="col" class="day">Dimanche</th>
                        </tr>
                </thead>
                <tbody class="col-lg-11 col-md-11">
                        <!-- Pour le déjeuner -->
                        <tr>
                                <th scope="row" class="type dej">Déjeuner</th>
                                <td *ngFor="let number of [1,2,3,4,5,6,7]" class="Jour">

                                        <div id={{number}} _1 class=" inside starter">
                                                <p>Entrée</p>
                                                <span *ngIf="recettesSemaine[number][1].titre !== 'vide'; else dontcook1">{{recettesSemaine[number][1].titre}}
                                                        <span>
                                                                <button class="btn btn-info" (click)="detailId(recettesSemaine[number][1].id)">Détails</button>
                                                                <button class="btn btn-info" (click)="delete(recettesSemaine[number][1].id)">Supprimer</button>
                                                        </span>
                                                </span>
                                                <ng-template #dontcook1>
                                                        <div class="dontcook">
                                                                <div class="word">Je ne cuisine pas</div>
                                                                <!-- Appel component de la popup -->
                                                                <!-- <app-popupcalendar></app-popupcalendar> -->
                                                                <!-- le (clik) déclenche l'appel de la popup qui est dans le popup component avec l'identifiant 'popup one'-->
                                                                <button type="button" class="btn btn-link" (click)="open(number+'_1')"><i
                                                                                class="fa fa-plus-circle"></i></button>
                                                        </div>
                                                </ng-template>
                                        </div>
                                        <div id={{number}} _2 class=" inside mainmeal">
                                                <p>Plat</p>
                                                <span *ngIf="recettesSemaine[number][2].titre !== 'vide'; else dontcook2">{{recettesSemaine[number][2].titre}}
                                                        <span>
                                                                <button class="btn btn-info" (click)="detailId(recettesSemaine[number][2].id)">Détails</button>
                                                                <button class="btn btn-info" (click)="delete(recettesSemaine[number][2].id)">Supprimer</button>
                                                        </span>
                                                </span>

                                                <ng-template #dontcook2>
                                                        <div class="dontcook">
                                                                <div class="word">Je ne cuisine pas</div>
                                                                <!-- Appel component de la popup -->
                                                                <!-- <app-popupcalendar></app-popupcalendar> -->
                                                                <!-- le (clik) déclenche l'appel de la popup qui est dans le popup component avec l'identifiant 'popup one'-->
                                                                <button type="button" class="btn btn-link" (click)="open(number+'_2')"><i
                                                                                class="fa fa-plus-circle"></i></button>
                                                        </div>
                                                </ng-template>
                                        </div>
                                        <div id={{number}} _3 class=" inside dessert">
                                                <p>Dessert</p>
                                                <span *ngIf="recettesSemaine[number][3].titre !== 'vide'; else dontcook3">{{recettesSemaine[number][3].titre}}
                                                        <span>
                                                                <button class="btn btn-info" (click)="detailId(recettesSemaine[number][3].id)">Détails</button>
                                                                <button class="btn btn-info" (click)="delete(recettesSemaine[number][3].id)">Supprimer</button>
                                                        </span>
                                                </span>

                                                <ng-template #dontcook3>
                                                        <div class="dontcook">
                                                                <div class="word">Je ne cuisine pas</div>
                                                                <!-- Appel component de la popup -->
                                                                <!-- <app-popupcalendar></app-popupcalendar> -->
                                                                <!-- le (clik) déclenche l'appel de la popup qui est dans le popup component avec l'identifiant 'popup one'-->
                                                                <button type="button" class="btn btn-link" (click)="open(number+'_3')"><i
                                                                                class="fa fa-plus-circle"></i></button>
                                                        </div>
                                                </ng-template>
                                        </div>
                                </td>
                        </tr>

                        <!-- Pour le diner -->
                        <tr>
                                <th scope="row" class="type dej">Dîner</th>
                                <td *ngFor="let number of [1,2,3,4,5,6,7]" class="Jour">

                                        <div id={{number}} _1 class=" inside starter">
                                                <p>Entrée</p>
                                                <span *ngIf="recettesSemaine[number][4].titre !== 'vide'; else dontcook4">{{recettesSemaine[number][4].titre}}
                                                        <span>
                                                                <button class="btn btn-info" (click)="detailId(recettesSemaine[number][4].id)">Détails</button>
                                                                <button class="btn btn-info" (click)="delete(recettesSemaine[number][4].id)">Supprimer</button>
                                                        </span>
                                                </span>

                                                <ng-template #dontcook4>
                                                        <div class="dontcook">
                                                                <div class="word">Je ne cuisine pas</div>
                                                                <!-- Appel component de la popup -->
                                                                <!-- <app-popupcalendar></app-popupcalendar> -->
                                                                <!-- le (clik) déclenche l'appel de la popup qui est dans le popup component avec l'identifiant 'popup one'-->
                                                                <button type="button" class="btn btn-link" (click)="open(number+'_4')"><i
                                                                                class="fa fa-plus-circle"></i></button>
                                                        </div>
                                                </ng-template>
                                        </div>
                                        <div id={{number}} _2 class=" inside mainmeal">
                                                <p>Plat</p>
                                                <span *ngIf="recettesSemaine[number][5].titre !== 'vide'; else dontcook5">{{recettesSemaine[number][5].titre}}
                                                        <span>
                                                                <button class="btn btn-info" (click)="detailId(recettesSemaine[number][5].id)">Détails</button>
                                                                <button class="btn btn-info" (click)="delete(recettesSemaine[number][5].id)">Supprimer</button>
                                                        </span>
                                                </span>

                                                <ng-template #dontcook5>
                                                        <div class="dontcook">
                                                                <div class="word">Je ne cuisine pas</div>
                                                                <!-- Appel component de la popup -->
                                                                <!-- <app-popupcalendar></app-popupcalendar> -->
                                                                <!-- le (clik) déclenche l'appel de la popup qui est dans le popup component avec l'identifiant 'popup one'-->
                                                                <button type="button" class="btn btn-link" (click)="open(number+'_5')"><i
                                                                                class="fa fa-plus-circle"></i></button>
                                                        </div>
                                                </ng-template>
                                        </div>
                                        <div id={{number}} _3 class=" inside dessert">
                                                <p>Dessert</p>
                                                <span *ngIf="recettesSemaine[number][6].titre !== 'vide'; else dontcook6">{{recettesSemaine[number][6].titre}}
                                                        <span>
                                                                <button class="btn btn-info" (click)="detailId(recettesSemaine[number][6].id)">Détails</button>
                                                                <button class="btn btn-info" (click)="delete(recettesSemaine[number][6].id)">Supprimer</button>
                                                        </span>
                                                </span>

                                                <ng-template #dontcook6>
                                                        <div class="dontcook">
                                                                <div class="word">Je ne cuisine pas</div>
                                                                <!-- Appel component de la popup -->
                                                                <!-- <app-popupcalendar></app-popupcalendar> -->
                                                                <!-- le (clik) déclenche l'appel de la popup qui est dans le popup component avec l'identifiant 'popup one'-->
                                                                <button type="button" class="btn btn-link" (click)="open(number+'_6')"><i
                                                                                class="fa fa-plus-circle"></i></button>
                                                        </div>
                                                </ng-template>
                                        </div>
                                </td>
                        </tr>

                </tbody>
        </table>

</div>
<!-- Appel component de la popup -->
<app-popupcalendar></app-popupcalendar>
<!-- Appel component de la popup -->
<app-popup></app-popup>