<div class="container">
    <div class="container btnSort">
        <button type="button" class="btn btnEntree" (click)="sortRecette(1)">Entrée</button>
        <button type="button" class="btn btnPlat" (click)="sortRecette(2)">Plat</button>
        <button type="button" class="btn btnDessert" (click)="sortRecette(3)">Desserts</button>
    </div>


    <ul>
        <li *ngFor="let recette of recettesSorted" class="recetteAll">
                <div>
                    <span>{{recette.titre}}</span>
                </div>
                <div>
                    <span>Type de plat : {{recette.typeMeal}}</span>
                </div>
                <div>
                    <span>{{recette.instructions}}</span>
                </div>
                <div>
                    <span>Temps de cuisson : {{recette.tempsCuisson}}min</span>
                </div>
                <div>
                    <button class="btn btn-info" (click)="detailId(recette.id)">Détails</button>   
                </div>
        </li>
    </ul>

</div>



<!-- Appel component de la popup -->
<app-popup></app-popup>



