.recetteAll {
    display: inline-block;
   // margin: 20px;
    //width: 40%;
    width: 250px;
    height: 345px;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 2em;
    margin-right: 2em;
    box-shadow: .1px 1px 2px #979797;
    border-radius: 15px 15px 15px 15px;
    padding-top: 6px;
}

img {
    width: 250px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.btnSort {
    margin-left:30%;
}

.btn {
    margin-top: 30px;
    margin-bottom: 2em;
    background-color: #ffffff;
    color: #474747;
    border: .1em solid #474747;
    margin-right: 20px;
}
.btnEntree {
    color:#04a3a3;
}
.btnPlat {
    color: #e4572e;
}
.btnDessert {
    color:#db9d47;
}

li {
    border: solid 1px;
}

.titreRecette {
    font-size: 1.2em;
    font-weight:bold;
    color:#474747;
}
.btn-info {
    margin-left:40%;
}