<div class="container">

    <ul>
        <li *ngFor="let recette of recettes" class="recetteAll">
            <div>
                <span>{{recette.titre}}</span>
            </div>
            <div>
                <span>{{recette.instructions}}</span>
            </div>
            <div>
                <span>{{recette.tempsCuisson}}min</span>
            </div>
            <div>
                <button class="btn btn-info" (click)="ngxSmartModalService.getModal('popupOne').open()">Détails</button>   
            </div>
        </li>
    </ul>

</div>



<!-- Appel component de la popup -->
<app-popup></app-popup>



